<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>root</key>
            <string>General</string>
            <key>paths</key>
            <array>
                <string>About</string>
                <string>ACCESSIBILITY</string>
                <string>AUTOLOCK</string>
                <string>Assistant</string>
                <string>USAGE/CELLULAR_USAGE</string>
                <string>Bluetooth</string>
                <string>DATE_AND_TIME</string>
                <string>Keyboard</string>
                <string>INTERNATIONAL</string>
                <string>ManagedConfigurationList</string>
                <string>Network</string>
                <string>Network/VPN</string>
                <string>Reset</string>
                <string>SOFTWARE_UPDATE_LINK</string>
                <string>USAGE</string>
            </array>
        </dict>
        <dict>
            <key>root</key>
            <string>AIRPLANE_MODE</string>
        </dict>
        <dict>
            <key>root</key>
            <string>FACETIME</string>
        </dict>
        <dict>
            <key>root</key>
            <string>CASTLE</string>
            <key>paths</key>
            <array>
                <string>STORAGE_AND_BACKUP</string>
            </array>
        </dict>
        <dict>
            <key>root</key>
            <string>LOCATION_SERVICES</string>
        </dict>
        <dict>
            <key>root</key>
            <string>ACCOUNT_SETTINGS</string>
        </dict>
        <dict>
            <key>root</key>
            <string>MUSIC</string>
            <key>paths</key>
            <array>
                <string>EQ</string>
                <string>VolumeLimit</string>
            </array>
        </dict>
        <dict>
            <key>root</key>
            <string>MOBILE_DATA_SETTINGS_ID</string>
        </dict>
        <dict>
            <key>root</key>
            <string>NIKE_PLUS_IPOD</string>
        </dict>
        <dict>
            <key>root</key>
            <string>NOTES</string>
        </dict>
        <dict>
            <key>root</key>
            <string>NOTIFICATIONS_ID</string>
        </dict>
        <dict>
            <key>root</key>
            <string>Phone</string>
        </dict>
        <dict>
            <key>root</key>
            <string>Photos</string>
        </dict>
        <dict>
            <key>root</key>
            <string>Safari</string>
        </dict>
        <dict>
            <key>root</key>
            <string>Sounds</string>
            <key>paths</key>
            <array>
                <string>Ringtone</string>
            </array>
        </dict>
        <dict>
            <key>root</key>
            <string>STORE</string>
        </dict>
        <dict>
            <key>root</key>
            <string>TWITTER</string>
        </dict>
        <dict>
            <key>root</key>
            <string>VIDEO</string>
        </dict>
        <dict>
            <key>root</key>
            <string>Wallpaper</string>
        </dict>
        <dict>
            <key>root</key>
            <string>WIFI</string>
        </dict>
        <dict>
            <key>root</key>
            <string>INTERNET_TETHERING</string>
        </dict>
    </array>
</plist>